extends layout

block content
  center
    h1 #{title}
    form(action="hashtagSearch", method="post")
    label(for='hashtagSearch') What is your hashtag game?
    br
    input(type='text', id='hashtagSearchRe', name='hashtagSearchRe', size = 20)
    input(type='submit', value='Serch Twitter')
    br
    br
    #{tweets}
    br
    br
    ul
        each tweet in tweets
            li= tweet.text